.root {
    -fx-gb-primary-color: #3574f0;
    -fx-gb-text-primary-color: #fff;
    -fx-gb-bg-primary-color: #f7f8fa;
    -fx-gb-border-color: #ebecf0;
}

.scroll-pane, .split-pane {
    -fx-background-color: -fx-gb-bg-primary-color;
}

.tree-cell:selected {
    -fx-background-color: #d4e2ff;
}

.code-editor .search-box {
    -fx-padding: 0 3px 0 3px;
    -fx-background-color: #ffffff;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -fx-gb-border-color;
}

.code-editor .search-box .label {
    -fx-text-fill: #aeb3c2;
}

.code-editor .search-box .button {
    -fx-background-color: transparent;
    -fx-text-fill: #6c707e;
}

.code-editor .search-box .button:disabled {
    -fx-background-color: transparent;
    -fx-text-fill: #aeb3c2;
}

.code-editor .search-box .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.code-editor .search-box .split-pane {
    -fx-background-color: transparent;
}

.code-editor .search-box .split-pane > .split-pane-divider {
    -fx-background-color: -fx-gb-border-color;
    -fx-padding: 0 0.5;
}

.home-view .split-pane > .split-pane-divider {
    -fx-padding: 0 0.5;
    -fx-background-color: -fx-gb-border-color;
}

.home-view .check-box:selected .box {
    -fx-background-color: -fx-gb-primary-color;
}

.home-view .check-box:selected .mark {
    -fx-background-color: -fx-gb-text-primary-color;
}
