/* dark-theme.css */

.root {
    -fx-base: #1d1d1d;
    -fx-background: #1d1d1d;
    -fx-control-inner-background: #373737;
    -fx-control-inner-background-alt: #262626;
    -fx-light-text-color: white;
    -fx-dark-text-color: black;
    -fx-text-background-color: black;
}

.label, .text-field, .button, .list-view {
    -fx-text-fill: white; /* 设置文本颜色为白色 */
}

.button {
    -fx-background-color: #5a5a5a; /* 按钮背景颜色 */
}

.button:hover {
    -fx-background-color: #737373; /* 鼠标悬停时按钮背景颜色 */
}