name: Windows

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Visual Studio shell
        uses: egor-tensin/vs-shell@v1

      - name: Setup Gluon's GraalVM
        uses: gluonhq/setup-graalvm@master
        with:
          graalvm: '22.1.0.1-Final'
          jdk: 'java17'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version from pom.xml
        id: get-version
        run: |
          $pomPath = "pom.xml"
          $xml = [xml](Get-Content $pomPath)
          $version = $xml.project.version
          echo "version=$version" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8

      - name: Make staging directory
        run: mkdir staging/PatchAssistant2J

      - name: Gluon License
        uses: gluonhq/gluon-build-license@v1
        with:
          gluon-license: ${{ secrets.GLUON_LICENSE }}

      - name: Gluon Build and Package
        shell: cmd
        run: .\mvnw gluonfx:build gluonfx:package

      - name: Copy native bundles to staging
        run: |
          cp -r target/gluonfx/x86_64-windows/PatchAssistant2J.exe staging/PatchAssistant2J
          cp -r target/gluonfx/x86_64-windows/PatchAssistant2J-${{ steps.get-version.outputs.version }}.msi staging

      - name: Compress portable package
        run: |
          Compress-Archive -Path ./staging/PatchAssistant2J -DestinationPath ./staging/PatchAssistant2J-${{ steps.get-version.outputs.version }}.zip -Force
          Remove-Item -Path ./staging/PatchAssistant2J -Recurse -Force

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: PatchAssistant2J-win-${{ steps.get-version.outputs.version }}
          path: staging
